# Supabase (variables públicas)
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=

# (solo se usa en el servidor, no se publica)
SUPABASE_SERVICE_ROLE=
SUPABASE_URL=

# URL del sitio local
PUBLIC_SITE_URL=http://localhost:5173

# AeroCRS API v5
AEROCRS_AUTH_ID=
AEROCRS_AUTH_PASSWORD=
AEROCRS_BASE_URL=https://api.aerocrs.com/v5
AEROCRS_ENV=LIVE
